body {
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    width: calc(100% - 110px);
    left: 50px;
    margin: 0;
}

nav img {
    position: absolute;
    left: 0;
}

nav ul {
    position: absolute;
    top: 30px;
    right: 212px;
    list-style: none;
    display: flex;
    width: 605px;
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat';
}

nav ul li {
    margin: auto;
}