body {
    padding: 0;
    margin: 0;
}
.ForMen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 800px;
    background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Top Section.png');
    background-size: 100%;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

#logo {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 30px;
    z-index: 3;
    width: auto;
}

#logo2 {
    display: none;
}

#chef {
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50vw - 150px);
}

#chef2 {
    display: none;
}

h1 {
    position: absolute;
    top: 232px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: 'Rische';
    font-weight: normal;
    margin: 0;
    color: #286086;
}

p {
    position: absolute;
    top: 435px;
    left: calc(50vw - 250px);
    margin: 0;
    width: 500px;
    text-align: center;
    font-family: 'Rische';
    font-size: 50px;
    font-weight: lighter;
    color: #286086;
}

p a {
    color: #28D146;
    text-decoration: none;
}

#what {
    position: absolute;
    bottom: 50px;
    left: calc(50vw - 131px);
    font-size: 20px;
    width: 262px;
    font-family: 'Montserrat';
    color: #28D146;
    text-decoration: none;
}

#what img {
    position: absolute;
    right: 0;
    bottom: 1px;
}

.Simple {
    position: absolute;
    top: 900px;
}

@media (max-width: 1200px) {
    /* .ForMen{
        background-size: 130%;
    } */
}

@media (max-width: 1000px) {
    /* .ForMen{
        background-size: 155%;
    } */
}

@media (max-width: 500px) {
    .ForMen {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 800px;
        background: url('https://cdn.jsdelivr.net/gh/orunto/mycdn/gcrib/images/Top Section.png');
        background-size: 100%;
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    } 
    
    #logo {
        display: none;
        
    }

    #logo2 {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        height: 20px;
        width: auto;
        z-index: 3;
    }

    #chef {
        display: none;
    }

    #chef2 {
        display: block;
        position: absolute;
        top: 150px;
        left: calc(50vw - 125px);
        width: 250px;
    }

    h1 {
        position: absolute;
        top: 250px;
        left: 25px;
        width: calc(100vw - 50px);
        text-align: center;
        font-size: 50px;
        font-family: 'Rische';
        font-weight: normal;
        margin: 0;
        color: #286086;
    }

    p {
        position: absolute;
        top: 450px;
        left: 25px;
        margin: 0;
        width: calc(100vw - 50px);
        text-align: center;
        font-family: 'Rische';
        font-size: 30px;
        font-weight: lighter;
        color: #fff;
    }

    p a {
        color: #28D146;
        text-decoration: none;
    }

    #what {
        position: absolute;
        bottom: 50px;
        left: calc(50vw - 131px);
        font-size: 20px;
        width: 262px;
        font-family: 'Montserrat';
        color: #28D146;
        text-decoration: none;
    }

    .Simple {
        position: absolute;
        top: 900px;
    }

}